
.footer-container a {
    user-select: none;
    color: #d8d8d8;
    text-decoration: none;
    margin-left: 0.5rem;
}


.footer-container span {
    margin-left: 0.2rem;
    color: #d8d8d8;
}


.footer-link-group a {
    user-select: none;
    color: #d8d8d8;
    text-decoration: none;
    margin-left: 0.5rem;
}

.footer-link-group a:hover {
    text-decoration: underline;
}
