.home-page {
  background-color: #000000;
}

.carousel-container {
  z-index: 0;
  overflow: visible;
}

.slide-title {
  width: fit-content;
  background: linear-gradient(
    to right,
    var(--color-primary-darker),
    var(--color-primary-light)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
  margin: 3rem 0 1rem 1rem;
}
